src/
source/
sources/

test/
tests/

sandbox/

config/
configurations/

coverage/

.temp/
.temporary/

temp/
temporary/

.output/
.outputs/

output/
outputs/

.dist/
dist/

.build/
build/

.git/
.vscode/
.github/

*.log

.qlogicae/
